.notification-container {
  background-color: #FFEDDF;
  border: 1px solid black;
  margin: 10px 0;
  width: 80vw;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}

.notification-container button {
 background-color: #C5D86D;
 width: 167px;
 height: 40px;
 border-radius: 5px;
}

.notification-title {
  text-align: left;
  padding: 0 0px;
  font-family: Alata;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
}

.notification-info {
  font-size: 14px;
  text-align: left;
}